################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NajmHouse/FileContentIndex/1b98efb1-52d5-497c-b24e-19b8bb3ae0c4.vsidx
/.vs/NajmHouse/FileContentIndex/4237cb97-2065-4a3c-8a8c-481853ba4c6c.vsidx
/.vs/NajmHouse/FileContentIndex/735953ec-77ff-49e0-9664-d3780a62bb7d.vsidx
/.vs/NajmHouse/FileContentIndex/80a6c4b9-7800-4032-8e6f-5b2617dd9218.vsidx
/.vs/NajmHouse/FileContentIndex/8e7fdf02-2d11-484b-bf29-b2e8785628df.vsidx
